<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zxy.mybatis.TestCodeMapper">
    <resultMap id="testCodeResultMap" type="cn.zxy.jdbc.TestCodeDO">
        <result property="id" column="id"></result>
        <result property="content" column="content"></result>
        <result property="media" column="media"></result>
    </resultMap>
    <insert id="insert" parameterType="cn.zxy.jdbc.TestCodeDO" useGeneratedKeys="true" keyProperty="id">
        insert into testcode(content,media) values (#{content},#{media})
    </insert>
    <select id="selectAll" resultMap="testCodeResultMap">
        select * from testcode
    </select>
</mapper>